<template>
    <div>
        <table class="table" v-if="task">
            <thead>
            <tr>
                <th>Date</th>
                <th>Hours</th>
                <th>Periods</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(timer, date) in taskTimers">
                <td>{{ date }}</td>
                <td>{{ _.round(timer.hours, 2) }}</td>
                <td>{{ timer.periods }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import helpers from '../../../helpers/date'

    export default {
        props: ['task'],
        computed: {
            helpers() {
                return helpers;
            },
            _(){
                return _;
            },
            taskTimers() {
                let timerByDate = {};
                if (this.task) {
                    _.each(this.task.task_timers, function (timer) {
                        if (typeof timerByDate[timer.date] === 'undefined') {
                            timerByDate[timer.date] = {};
                            timerByDate[timer.date]['hours'] = 0;
                            timerByDate[timer.date]['periods'] = 0;
                        }
                        timerByDate[timer.date].hours += parseFloat(timer.hours);
                        ++timerByDate[timer.date].periods;
                    });
                }
                return timerByDate;
            }
        },
    }
</script>

<style>

</style>