<template>
    <div class="row">
        <list v-if="board && (!expandedList || expandedList == list.id) && (!list.archived || showArchived)" v-for="list in lists" :list="list" :key="list.id" @expanded="expandList"></list>
        <new-list v-if="$store.getters.action == actions.NEW_LIST" :board-id="board.id"></new-list>
        <div v-if="!showArchived && !expandedList" class="list col-3" @click="showArchived = true" style="min-height: 200px; cursor: pointer">
            <div v-if="numberOfArchivedLists">
                <span class="title">Show archived</span>
                <p>Show archived lists</p>
            </div>
        </div>
    </div>
</template>

<script>
    import List from './List'
    import actions from '../../consts/actions'
    import NewList from './NewList'

    export default {
        name: "ListOfBoardLists",
        components: {List, NewList},
        props: ['board'],
        watch: {},
        computed: {
            lists() {
                return this.$store.getters.activeBoard.lists
            },
            actions() {
                return actions;
            },
            numberOfArchivedLists() {
                return _.filter(this.lists, function (o) {
                    return o.archived;
                }).length
            }
        },
        data() {
            return {
                expandedList: null,
                showArchived: false
            }
        },
        methods: {
            hideNewListForm() {
                this.$emit('hideNewListForm');
            },
            expandList(payload) {
                this.expandedList = payload.expanded ? payload.id : null;
            }
        },
    }
</script>

<style>

</style>