<template>
    <div class="list" :class="{'col-md-3': !expanded, 'col-12': expanded}" :key="'list' + list.id">
        <div :style="{backgroundColor: color}">
            <a v-if="expanded" @click="listSettings = !listSettings"><icon name="cog" class="float-right" style="right:0"></icon></a>
            <div class="title cursor-pointer" @click="expand" title="Click to expand">{{list.name}}</div>
            <list-settings v-if="listSettings" :list="list" @closeListSettings="listSettings = false"></list-settings>
            <form @submit.prevent>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="New task" v-model="newTaskName" @keyup.enter="addNewTask">
                </div>
            </form>
            <draggable v-model="draggableTasks" :options="{draggable:'.task', group:'tasks'}" class="draggable">
                <task v-for="task in pendingTasks" :task="task" :key="task.id"></task>
            </draggable>
            <vue-simple-spinner v-if="addingNewTask"></vue-simple-spinner>
            <a class="task" @click="showArchivedTasks = true" v-if="!showArchivedTasks && doneTasks.length">Show archived tasks ({{doneTasks.length}})</a>
            <div v-if="showArchivedTasks">
                <task v-for="task in doneTasks" :task="task" :key="task.id"></task>
                <a class="task" @click="showArchivedTasks = false">Hide archived tasks</a>
            </div>
        </div>
    </div>
</template>

<script>
    import Task from '../tasks/Task'
    import draggable from 'vuedraggable';
    import ListSettings from './ListSettings';

    export default {
        props: ['list'],
        components: {Task, draggable, ListSettings},
        computed: {
            doneTasks() {
                if (this.list.tasks) {
                    return this.list.tasks.filter(task => {
                        return task.status == 'DONE'
                    })
                }
                return [];
            },
            color() {
                if (this.list.color) {
                    return this.list.color;
                }
                if (this.$store.getters.activeBoard.category_id) {
                    return this.$store.getters.activeBoard.category.color;
                }
                return '';
            },
            pendingTasks() {
                if (this.list.tasks) {
                    return this.list.tasks.filter(task => {
                        return task.status == 'PENDING'
                    })
                }
                return [];
            },
            draggableTasks: {
                get() {
                    return this.list.tasks;
                },
                set(tasks) {
                    this.$store.dispatch('updateTasks', {tasks: tasks, list: this.list})
                }
            }
        },
        data() {
            return {
                newTaskName: '',
                showArchivedTasks: false,
                expanded: false,
                addingNewTask: false,
                listSettings: false
            }
        },
        methods: {
            addNewTask() {
                this.addingNewTask = true;
                this.$store.dispatch('addTask', {task: {name: this.newTaskName, board_list_id: this.list.id, priority: '2'}, list: this.list}).then(() => {
                    this.addingNewTask = false;
                });
                this.newTaskName = '';
            },
            expand() {
                this.expanded = !this.expanded;
                this.$emit('expanded', {id: this.list.id, expanded: this.expanded});
            }
        }
    }
</script>

<style>

</style>