<template>
    <div class="list new-list col-md-3">
        <div :style="{backgroundColor: $store.getters.activeBoard.category_id ? $store.getters.activeBoard.category.color : ''}">
            <vue-simple-spinner v-if="loading" message="Adding list..."></vue-simple-spinner>
            <form v-else @submit.prevent>
                <div class="form-group">
                    <input type="text" class="form-control" id="newList" placeholder="New list name" v-model="name" @keyup.enter="onNameEnter">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-light" @click.stop="$store.commit('setAction', null)">Cancel</button>
                    <button type="button" class="btn btn-primary" @click.stop="onNameEnter">Create</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import {BoardList} from "../../repository/BoardList";

    export default {
        props: ['boardId'],
        data() {
            return {
                name: '',
                loading: false
            }
        },
        methods: {
            onNameEnter() {
                this.loading = true;
                let boardList = new BoardList();
                boardList.name = this.name;
                boardList.tasks = [];
                boardList.id = this.boardId;
                this.$store.dispatch('addList', boardList).then(() => {
                    this.$store.commit('setAction', null);
                    this.loading = false;
                });
                this.name = '';
            }
        },
        name: "NewList"
    }
</script>

<style>

</style>