<template>
    <div>
        <app-navigation></app-navigation>
        <div class="container">
            <router-view></router-view>
        </div>
        <vue-snotify></vue-snotify>
    </div>
</template>

<script>
    import AppNavigation from './Navigation'

    export default {
        components: {AppNavigation},
    }
</script>

<style>

</style>