<template>
    <div>
        <a>
            <div v-if="timerRunning" class="badge badge-primary float-right m-1" title="Stop Timer" @click.stop="stopTimer">
                {{time}}
            </div>
            <div v-if="hours > 0 && !timerRunning" class="badge badge-light float-right m-1" title="Hours spent.">
                {{hours | formatHours}}
            </div>
        </a>
    </div>
</template>

<script>
    import helpers from '../../helpers/date'

    export default {
        props: ['task', 'clockVisible'],
        name: "TaskTimer",
        data() {
            return {
                interval: null,
                now: new Date(),
                hours: 0
            }
        },
        computed: {
            timerRunning() {
                return typeof this.$store.getters.timerByTaskId(this.task.id) != 'undefined'
            },
            time() {
                if (!this.timerRunning) {
                    return '';
                }
                let timer = this.$store.getters.timerByTaskId(this.task.id);
                return helpers.dateDiffToHoursMinutesSeconds(this.now - timer.start);
            }
        },
        methods: {
            startTimer() {
                this.$store.dispatch('startTimer', this.task);
                this.startTimerInterval();
            },
            stopTimer() {
                let timer = this.$store.getters.timerByTaskId(this.task.id);
                if (typeof timer != 'undefined') {
                    this.$store.dispatch('stopTimer', timer.id).then(response => {
                        if (Math.round(response.taskTimer.hours * 100) != 0) {
                            if (this.task.task_timers.length) {
                                this.task.task_timers[0].hours = parseFloat(response.sumOfTaskHours);
                            } else {
                                this.task.task_timers.push({hours: parseFloat(response.sumOfTaskHours)});
                            }
                            this.hours = this.task.task_timers[0].hours
                            this.$snotify.success('Logged ' + response.taskTimer.hours.toFixed(2) + 'h.');
                        } else {
                            this.$snotify.warning('Time not logged (to short?).');
                        }
                    });
                }
            },
            startTimerInterval() {
                if (this.interval) {
                    return false;
                }
                let self = this;
                this.interval = setInterval(() => {
                    self.now = new Date();
                }, 1000);
            },
            setSumOfHours() {
                this.hours = _.sumBy(this.task.task_timers, function (o) {
                    return parseFloat(o.hours)
                });
            }
        },
        mounted() {
            this.setSumOfHours();
            if (this.timerRunning) {
                this.startTimerInterval();
            }
        }
    }
</script>

<style>

</style>