<template>
    <div class="task" :class="{'status-done' :task.status == 'DONE'}" @click="iconsVisible = !iconsVisible">
        <task-timer :task="task" :clockVisible="iconsVisible" ref="taskTimer"></task-timer>
        <div
                class="priority"
                title="Click to change priority"
                :class="{'priority-high': task.priority == 1, 'priority-medium': task.priority == 2, 'priority-low': task.priority == 3}"
                @click.stop="togglePriority">
        </div>
        <div class="title">{{task.name}}</div>

        <div v-if="iconsVisible" class="mt-3">
            <a class="m-1" @click="toggleStatus" title="Toggle status">
                <icon name="check-circle"></icon>
            </a>
            <a class="m-1" v-if="!$refs.taskTimer.timerRunning" @click.stop="$refs.taskTimer.startTimer(); iconsVisible = false" title="Start Timer">
                <icon name="clock"></icon>
            </a>
            <router-link tag="a" :to="{name:'taskSettings', params: {taskId: task.id}}" class="m-1" title="Settings">
                <icon name="cog"></icon>
            </router-link>
        </div>
    </div>
</template>

<script>
    import TaskTimer from './TaskTimer'

    export default {
        props: ['task'],
        components: {TaskTimer},
        name: "Task",
        data() {
            return {
                iconsVisible: false,
            }
        },
        methods: {
            togglePriority() {
                this.$store.dispatch('toggleTaskPriority', this.task);
            },
            toggleStatus() {
                if (this.task.status == 'PENDING') {
                    this.$refs.taskTimer.stopTimer();
                }
                this.$store.dispatch('toggleTaskStatus', this.task);
            }
        }
    }
</script>

<style>

</style>