<template>
    <div class="card">
        <div v-if="task">
            <div class="card-header" v-if="!editMode">
                <a @click="deleteTask" class="float-right btn btn-sm btn-outline-danger">delete</a>
                <a @click="editTaskName" class="float-right btn btn-sm btn-outline-primary mr-1">edit</a>
                {{task.name}}
            </div>
            <div v-else class="m-3 form-group">
                <input name="taskName" v-model="task.name" class="w-100 form-control" />
                <a @click="editMode = false">Cancel</a> | <a @click="updateTaskName">Save</a>
            </div>
            <ul class="nav nav-pills nav-fill mt-1 mb-1">
                <li class="nav-item disabled">
                    <a class="nav-link">Timers view:</a>
                </li>
                <li v-for="mode in timersModes" class="nav-item">
                    <a @click="timersMode = mode" class="nav-link" :class="{'active': timersMode == mode}" href="#">
                        {{mode}}
                    </a>
                </li>
            </ul>
            <task-timer-detailed-listing v-if="timersMode === 'detailed'" :task="task"></task-timer-detailed-listing>
            <task-timer-by-date-listing v-if="timersMode === 'byDate'" :task="task"></task-timer-by-date-listing>
        </div>
        <vue-simple-spinner v-else></vue-simple-spinner>
    </div>
</template>

<script>
    import helpers from '../../helpers/date'
    import TaskTimerDetailedListing from './settings/TaskTimerDetailedListing'
    import TaskTimerByDateListing from './settings/TaskTimerByDateListing'

    export default {
        components: {TaskTimerDetailedListing, TaskTimerByDateListing},
        name: "TaskSettings",
        data() {
            return {
                task: null,
                taskTimers: null,
                editMode: false,
                timersMode: 'byDate',
                timersModes: ['byDate', 'detailed']
            }
        },
        computed: {
            helpers() {
                return helpers;
            },
            taskId() {
                return this.$route.params.taskId;
            }
        },
        methods: {
            deleteTask() {
                const self = this;
                this.$snotify.confirm('Do you really want to delete this task?', 'Delete?', {
                    timeout: 5000,
                    showProgressBar: true,
                    closeOnClick: false,
                    pauseOnHover: true,
                    buttons: [
                        {text: 'Yes', action: (toast) => {self.deleteTaskConfirmed(); self.$snotify.remove(toast.id)}},
                    ]
                });
            },
            deleteTaskConfirmed() {
                this.$store.dispatch('deleteTask', this.task).then(() => {
                        this.$snotify.success('Task "' + this.task.name + '" deleted');
                        this.$router.replace('/boardView/' + this.task.boardId);
                    }
                );
            },
            editTaskName() {
                this.editMode = true
            },
            updateTaskName() {
                this.$store.dispatch('updateTask', this.task).then(() => this.$snotify.success('Changes are saved'));
                this.editMode = false;
            },
            getTimers() {
                axios.get('/api/taskTimers/getByTaskId/' + this.task.id)
                    .then(taskTimers => {
                        this.taskTimers = taskTimers.data.data;
                    });
            },
            deleteTimer(taskTimer, taskTimerIndex) {
                axios.delete('/api/taskTimers/' + taskTimer.id).then(
                    this.$store.dispatch('fetchLists', true)
                );
                this.$store.commit('stopTimer', taskTimer.id);
                this.taskTimers.splice(taskTimerIndex, 1);
            }
        },
        beforeCreate() {
            this.$store.dispatch('fetchStartData').then(() => {
                const taskId = this.taskId
                if (this.task) {
                    this.task = this.$store.getters.taskById(taskId);
                    this.getTimers();
                } else {
                    this.$store.dispatch('setActiveBoardIdByTaskId', taskId).then(() => {
                        this.$store.dispatch('fetchLists').then(() => {
                            this.task = this.$store.getters.taskById(taskId);
                            this.getTimers();
                        });
                    });
                }
            });
        }
    }
</script>

<style>

</style>