<template>
    <div>
        <div class="category" :style="{backgroundColor: category.color}">
            <div class="row" v-if="!editMode">
                <div class="col-9">{{category.name}}</div>
                <div class="col">
                    <a @click="editMode = true">Update</a> | <a @click="deleteCategory(category)">Delete</a>
                </div>
            </div>
            <div v-else class="row">
                <div class="col-8">
                    <div class="form-group">
                        <input class="form-control" type="text" v-model="localCategory.name" />
                    </div>
                </div>
                <div class="col-1">
                    <div class="form-group">
                        <input type="color" v-model="localCategory.color" />
                    </div>
                </div>
                <div class="col-3">
                    <a @click="update">Update</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['category'],
        data() {
            return {
                editMode: false,
                localCategory: this.category
            }
        },
        methods: {
            update() {
                this.$store.dispatch('updateCategory', this.localCategory)
                    .then(() => this.$snotify.success('Category updated successfully'))
                    .catch(e => this.$snotify.error(e.response.data.message));
                this.editMode = false;
            },
            deleteCategory(category) {

            }
        }
    }
</script>

<style>

</style>