<template>
    <div>
        <div v-if="addMode" class="category" :style="{backgroundColor: category.color}">
            <div class="row">
                <div class="col-6"><input type="text" name="name" placeholder="name" v-model="category.name" required/></div>
                <div class="col-3"><input type="color" name="color" placeholder="color" v-model="category.color"/></div>
                <div class="col-3">
                    <button @click="save" type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
        <button v-if="!addMode" type="submit" @click="addMode = true" class="btn btn-primary">Add</button>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                category: {
                    id: null,
                    color: '#80bdff',
                    name: ''
                },
                addMode: false
            }
        },
        methods: {
            save() {
                if (!this.category.name) {
                    this.$snotify.error('Add name to new category!');
                    return false;
                }
                this.addMode = false;
                this.$store.dispatch('addCategory', this.category)
                    .then(() => this.$snotify.success('Category added successfully.'))
                    .catch(e => this.$snotify.error(e.response.data.message));
            },
        },
    }
</script>

<style>

</style>