<template>
    <div class="text-center form-wrapper">
        <form class="form-signin" v-on:submit.prevent="submitLogin">
            <vue-simple-spinner v-if="loading" message="Logging in..."></vue-simple-spinner>
            <div v-else>
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus v-model="email">

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required v-model="password">

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </div>
        </form>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                email: 'demo@demo.com',
                password: 'demo',
                loading: false
            }
        },
        methods: {
            submitLogin() {
                this.loading = true;
                axios.post('/api/auth/login', {
                    email: this.email,
                    password: this.password
                }).then(response => {
                    this.$store.commit('loginUser', response.data.user);
                    localStorage.setItem('token', response.data.access_token);
                    this.$snotify.success('Logged in successfully as ' + response.data.user.name);
                    axios.defaults.headers.common['Authorization'] = 'Bearer ' + response.data.access_token;
                    this.$router.push({name: 'home'});
                    this.loading = false;
                }).catch(error => {
                    this.$snotify.error('Wrong login or password. Please try again.' + error);
                    this.loading = false;
                });
            }
        }
    }
</script>

<style scoped>
    .form-wrapper {
        min-height: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

    .form-signin .form-control:focus {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>