<template>
    <div class="text-center form-wrapper">
        <form class="form-signin" v-on:submit.prevent="submitRegister">
            <vue-simple-spinner v-if="loading" message="Registering..."></vue-simple-spinner>
            <div v-else>
                <h1 class="h3 mb-3 font-weight-normal">Please register</h1>

                <label for="name" class="sr-only">Name</label>
                <input type="text" id="name" class="form-control" placeholder="Name" required autofocus v-model="name">

                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required v-model="email">


                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required v-model="password">

                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </div>
        </form>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                email: '',
                name: '',
                password: '',
                loading: false
            }
        },
        methods: {
            submitRegister() {
                this.loading = true;
                axios.post('/api/auth/register', {
                    email: this.email,
                    password: this.password,
                    name: this.name
                }).then(response => {
                    if (response.data.user) {
                        this.$snotify.success('Registerd as ' + response.data.user.name + '. Now login!');
                        this.$router.push({name: 'login'})
                    } else {
                        this.$snotify.error('Error! ' + JSON.stringify(response.data));
                    }
                    this.loading = false;
                }).catch(error => {
                    this.$snotify.error('Error! ' + error);
                    this.loading = false;
                });
            }
        }
    }
</script>

<style scoped>
    .form-wrapper {
        min-height: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

    .form-signin .form-control:focus {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>