<template>
    <div>
        <div class="card mt-3">
            <div class="card-header">
                <nav class="nav nav-pills nav-justified">
                    <a class="nav-link active" href="#">Hours by date</a>
<!--                    <a class="nav-link" href="#">Longer nav link</a>
                    <a class="nav-link" href="#">Link</a>-->
                </nav>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Hours</th>
                        <th>Tasks</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Sum</td>
                        <td>{{parseFloat(sum) | formatHours}}</td>
                        <td></td>
                    </tr>
                    <tr v-for="entity in sumOfHoursByDays">
                        <td>{{entity.date}}</td>
                        <td>{{parseFloat(entity.hours) | formatHours}}</td>
                        <td>
                            <table class="table">
                                <tbody>
                                <tr v-for="task in tasksByDays[entity.date]">
                                    <td>{{task.name}}</td>
                                    <td>{{task.hours | formatHours}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                board: {},
                sumOfHoursByDays: [],
                tasksByDays: [],
                sum: 0
            }
        },
        methods: {
            save() {
                this.board.name = this.newName;
                this.$store.dispatch('updateBoard', this.board).then(() => this.$snotify.success('Changes are saved'));
            },
            deleteBoard() {
                this.$store.dispatch('deleteBoard', this.board.id);
                this.$router.push({name: 'home'})
            },
        },
        created() {
            this.$store.commit('setActiveBoardId', this.$route.params.boardId);
            this.$store.dispatch('fetchStartData').then(() => {
                this.board = this.$store.getters.activeBoard;
                this.newName = this.board.name;
                let self = this;
                axios.get('/api/boardStatistics/' + this.board.id)
                    .then(r => r.data)
                    .then(response => {
                        self.sumOfHoursByDays = response.sumOfHoursByDays;
                        self.tasksByDays = response.tasksByDays;
                        this.sum = _.sumBy(self.sumOfHoursByDays, function(o) { return  parseFloat(o.hours)});
                    })
            });

        }
    }
</script>

<style>

</style>