<template>
    <div>
        <div class="card mt-3">
            <div class="card-header">Board edit</div>
            <div class="card-body">
                <form @submit.prevent>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" v-model="newName" class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="submit" @click="save" class="btn btn-primary">Save</button>
                        <button type="submit" @click="deleteBoard" class="btn btn-danger float-right">Delete</button>

                        <button v-if="this.board.archived === null" type="submit" @click="archiveBoard" class="btn btn-warning float-right mr-5">Archive</button>
                        <button v-else type="submit" @click="archiveBoard" class="btn btn-primary float-right mr-5">Unarchive</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                board: {},
                newName: ''
            }
        },
        name: "BoardSettings",
        methods: {
            save() {
                this.board.name = this.newName;
                this.$store.dispatch('updateBoard', this.board).then(() => this.$snotify.success('Changes are saved'));
            },
            deleteBoard() {
                this.$store.dispatch('deleteBoard', this.board.id);
                this.$router.push({name: 'home'})
            },
            archiveBoard() {
                this.board.archived = this.board.archived === 1 ? null : 1;
                this.$store.dispatch('updateBoard', this.board).then(() => this.$snotify.success('Changes are saved'));
            },
        },
        created() {
            this.$store.commit('setActiveBoardId', this.$route.params.boardId);
            this.$store.dispatch('fetchStartData').then(() => {
                this.board = this.$store.getters.activeBoard;
                this.newName = this.board.name
            });
        }
    }
</script>

<style>

</style>