<template>
    <div>
        <list-of-board-lists v-if="board" :board="board"></list-of-board-lists>
    </div>
</template>

<script>
    import ListOfBoardLists from '../lists/ListOfBoardLists';
    import actions from '../../consts/actions';
    export default {
        components: {ListOfBoardLists},
        data() {
            return {
                board: null,
                showNewListForm: false
            }
        },
        name: "BoardView",
        methods: {
            addList() {

            }
        },
        created() {
            this.$store.commit('setActiveBoardId', this.$route.params.boardId);
            this.$store.dispatch('fetchStartData').then(() => {
                this.board = this.$store.getters.activeBoard;
                this.$store.dispatch('fetchLists').then(()=>{
                    if (!this.board.lists.length) {
                        this.$store.commit('setAction', actions.NEW_LIST)
                    }
                })
            });

        }
    }
</script>

<style>

</style>