<template>
    <div class="new-board board col" @click="showPlaceForEnterName = true">
        <div>
            <a class="title">Create new board</a>
            <transition name="bounce">
                <div v-if="showPlaceForEnterName">
                    <form @submit.prevent>
                        <div class="form-group">
                            <label for="newBoard">How shall we name this board?</label>
                            <input type="text" class="form-control" id="newBoard" placeholder="New fancy name" v-model="name" @keyup.enter="onNameEnter">
                        </div>
                        <div class="form-group" v-if="$store.getters.categories.length">
                            <select class="custom-select" v-model="categoryId">
                                <option>Category?</option>
                                <option :style="{backgroundColor: category.color}" v-for="category in $store.getters.categories" :value="category.id" :key="category.id">
                                    {{category.name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-light" @click.stop="showPlaceForEnterName = false">Cancel</button>
                            <button type="button" class="btn btn-primary" @click.stop="onNameEnter">Create</button>
                        </div>
                    </form>
                </div>
            </transition>
        </div>
    </div>

</template>

<script>
    import {Board} from '../../repository/Board';

    export default {
        name: "NewBoard",
        data() {
            return {
                showPlaceForEnterName: false,
                name: '',
                categoryId: ''
            }
        },
        methods: {
            onNameEnter() {
                let board = new Board();
                board.name = this.name;
                board.category_id = this.categoryId;
                this.$store.dispatch('addBoard', board)
                    .then(() => this.$snotify.success('Board added successfully'))
                    .catch(e => this.$snotify.error(e.response.data.message));
                this.name = '';
                this.showPlaceForEnterName = false;
            }
        }
    }
</script>

<style>
</style>